.main {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}
.board {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.line {
  display: flex;
  gap: 10px;
  margin: auto;
}

.tile {
  width: 40px;
  height: 40px;
}

.incorrect {
  background-color: lightgrey;
}

#togglebutton ::after {
  content: '';
  height: 10px;
  width: 10px;
  border-radius: 100%;
  border: 1px solid black;
}
